@use "../scss/abstracts/variables" as *;

// Import layout partials and components
@use "layout/header";
@use "../scss/components/DateAndTime";
@use "components/Rejseplanen";

// Global styles
//body {
//  background-color: $color-bg;
//  color: $color-text;
//}