@use '../variables' as *;

#timePart {
    align-items: center;
    gap: 0.25rem;
    background-color: $color-accent;
    
    .TimePart__icon {
        font-size: 1.25rem;
        color: $color-primary;
    }
    
    .TimePart__text {
        font-size: 1rem;
        color: $color-text;
    }
}

#datePart {
    align-items: center;
    gap: 0.25rem;
    
    .DatePart__icon {
        font-size: 1.25rem;
        color: $color-highlight;  // Orange for date icon
    }
    
    .DatePart__text {
        font-size: 1rem;
        color: $color-text;
    }
}

#clock {
    align-items: center;
    gap: 0.25rem;
    
    .ClockPart__icon {
        font-size: 1.25rem;
        color: $color-primary;
    }
    
    .ClockPart__text {
        font-size: 1rem;
        color: $color-text;
    }
}