@use '../abstracts/variables' as *;

#clock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  padding-left: 5rem;    // Moved slightly more right
  padding-top: 3rem;     // Moved down
  background-color: $color-bg;
  
}
    
    svg {
      width: 50px;
      height: 50px;
      stroke: $color-neutral-light;
      stroke-width: 6;
      fill: none;
    }

  .timePart {
    font-size: 4rem;
    font-weight: 900;
    color: $color-accent;
    letter-spacing: 0.25rem;
    line-height: 1;
  }


  .datePart {
    font-size: 2.5rem;
    font-weight: 900;
    color: $color-warning;
    letter-spacing: 0.25rem;
  }
