#timePart{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    
    .TimePart__icon {
        font-size: 1.25rem;
        color: var(--color-primary);
    }
    
    .TimePart__text {
        font-size: 1rem;
        color: var(--color-text);
    }
}

#datePart{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    
    .DatePart__icon {
        font-size: 1.25rem;
        color: var(--color-primary);
    }
    
    .DatePart__text {
        font-size: 1rem;
        color: var(--color-text);
    }
}

#clock{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    
    .ClockPart__icon {
        font-size: 1.25rem;
        color: var(--color-primary);
    }
    
    .ClockPart__text {
        font-size: 1rem;
        color: var(--color-text);
    }
}