// write variables here

$white: #FFFFFF;
$black: #000000;
$gray-light: #D9D9D9;
$purple: #524796;
$blue-light: #5B5FB1;
$gray-medium: #858585;
$gray-soft: #BAB8B8;
$navy-dark: #0E1429;
$navy: #25252D;
$orange: #C97614;
$orange-dark: #CC6D00;
$blue: #294CC9;
$cyan: #297ED2;
$blue-pale: #C8CCE1;
$yellow: #D1BB2E;
$red: #D92A2A;
$navy-deep: #111D35;
